/* Overall */
* {
    box-sizing: border-box;
}
.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
}
body {
    margin-right: 2em;
    margin-left: 1em;
    margin-bottom: 1em;
}

/* Navigation */

.main-nav {
    /* align-content: center;
    text-align: center; */
    margin-bottom: 5em;
    margin-top: 2.5em;
    margin-left: 20px;
    /* box-sizing: border-box; */

}
.main-nav a:hover {
    color: #39FF14;
}
.main-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    list-style: none;
}
.main-nav li {
    /* vertical-align: middle; */
    display: inline-block;
    padding: 0px 50px;
}
/* .main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 10px;
    list-style: none;
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;

} */
/* .main-nav li {
    display: clear;
    vertical-align: middle;
} */
.main-nav a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    /* display: block;
    vertical-align: middle; */
}
#yourbrand {
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
}
.grow2 { 
    transition: all .2s ease-in-out; 
    }
    
.grow2:hover { 
transform: scale(1.2); 
}

/* Boxes */

.pbox {
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 0px;
    margin: 0
}
.wrapper > div {
    padding: 11em;
    font-family: 'Permanent Marker', cursive;
}
.wrapper a {
    text-decoration: none;
    color: white;  
}
.wrapper a:hover {
    color: #39FF14;

}
.grow { 
    transition: all .2s ease-in-out; 
    }
    
.grow:hover { 
transform: scale(1.3); 
}
.box1 {
    /* background: #d90429; */
    background: #ED1D24;
}
.box2 {
    background: #C4A8FF;
}
.box3 {
    background: #03ADE9;
    
}
.box4 {
    background: #FCE154;
}

/* About Page */
img {
    float: left;
    height: 350px;
    width: 350px;
    margin-right: 20px;
}
.wrapper2 {
    background: #B5EAD7;
    margin: 0 auto;
    width: 900px;
    padding: 25px;
    margin-top: 120px;
}
p {
    color: white;
}