body {
    padding: 0;
    margin: 0;
    background: #e0fbfc;
  }

.feature-title {
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
}

.navbar {
    background-color: #3d5a80;
}

.nav-link {
    color: #98c1d9;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    color: #ee6c4d;
}

.navbar-collapse {
    justify-content: flex-end;
  }

.nav-link:hover, .navbar-brand:hover {
    color: white;
}

.container {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 20px;
}